{% extends "_default/layout.base.twig" %}

{% block content %}

	<p>{% trans "Hello" %}</p>
	<p>{% trans "The following incoming invoices need your attention." %}</p>

	<table cellpadding="0" cellspacing="0" border="0" style="border: solid 1px #cccccc">
	<thead>
		<tr>
			<th>{% trans "Supplier" %}</th>
			<th>{% trans "Expiration date" %}</th>
			<th>{% trans "Price excl." %}</th>
			<th>{% trans "Price incl." %}</th>
		</tr>
	</thead>
	<tbody>
	{% for incoming_invoice in incoming_invoices %}
		<tr>
			<td width="45%">{{ incoming_invoice.supplier.company }}</td>
			<td width="25%">{{ incoming_invoice.expiration_date|date }}</td>
			<td width="15%">&euro;{{ incoming_invoice.price_excl|number_format }}</td>
			<td width="15%">&euro;{{ incoming_invoice.price_incl|number_format }}</td>
		</tr>
	{% endfor %}
	</tbody>
	</table>

{% endblock content %}
