<!doctype html>
<html class="no-js" lang="{{ env.session.language.name_short }}">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{% if settings.company is not empty %}{{ settings.company }} - {% endif %}Tiny Invoice</title>

	<link type="text/css" href="/typeahead.js-bootstrap-css/typeaheadjs.css" rel="stylesheet">
	<link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css" type="text/css" media="handheld, all">
	<link rel="stylesheet" href="/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />
	<link rel="stylesheet" href="/bootstrap-multiselect/dist/css/bootstrap-multiselect.css" />
	<link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="/codemirror/lib/codemirror.css">
	<link rel="stylesheet" href="/bootstrap.multilevel.navbar.css" type="text/css" media="handheld, all">
	<link rel="stylesheet" href="/style.css" type="text/css" media="handheld, all">

	<script type="text/javascript" src="/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="/jquery.selectareas.min.js"></script>
	<script type="text/javascript" src="/bootstrap/dist/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/moment/min/moment.min.js"></script>
	<script type="text/javascript" src="/tigron-confirm-modal/js/bootstrap.confirm-modal.js"></script>
	<script type="text/javascript" src="/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
	<script type="text/javascript" src="/tigron-datetimepicker/js/tigron-datetimepicker.js"></script>
	<script type="text/javascript" src="/jquery-zoom/jquery.zoom.min.js"></script>
	<script type="text/javascript" src="/handlebars/handlebars.min.js"></script>
	<script type="text/javascript" src="/bootstrap-multiselect/dist/js/bootstrap-multiselect.js"></script>
	<script type="text/javascript" src="/autogrow-textarea/jquery.autogrowtextarea.min.js"></script>
	<script type="text/javascript" src="/jquery-ui/jquery-ui.min.js"></script>
	<script type="text/javascript" src="/bootstrap-checkbox/js/bootstrap-checkbox.js"></script>
	<script type="text/javascript" src="/jquery-mask-plugin/dist/jquery.mask.min.js"></script>
	<script type="text/javascript" src="/urijs/src/URI.js"></script>
	<script type="text/javascript" src="/typeahead.js/dist/typeahead.bundle.min.js"></script>

	<!-- Syntax check in extractor editor -->
	<script type="text/javascript" src="/codemirror/lib/codemirror.js"></script>
	<script src="/codemirror/addon/edit/matchbrackets.js"></script>
	<script src="/codemirror/mode/htmlmixed/htmlmixed.js"></script>
	<script src="/codemirror/mode/xml/xml.js"></script>
	<script src="/codemirror/mode/javascript/javascript.js"></script>
	<script src="/codemirror/mode/css/css.js"></script>
	<script src="/codemirror/mode/clike/clike.js"></script>
	<script type="text/javascript" src="/codemirror/mode/php/php.js"></script>

	{% spaceless %}
		{% block head %}{% endblock head %}
	{% endspaceless %}
</head>
<body>
	{% include '_default/nav_bar.twig' %}
	<div class="container-fluid">{% block content %}{% endblock content %}</div>

	{% spaceless %}
		{% block javascript %}{% endblock %}
	{% endspaceless %}
	<script type="text/javascript" src="/base.js"></script>
</body>
</html>
