{% if env.session.user is defined %}
<nav class="navbar navbar-default" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">{{ settings.company }}</a>

			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>

		</div>

		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li><a href="/user">{% trans "Users" %}</a></li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans "Administration" %} <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li {% if env.module.get_name() == 'administrative_customer' %}class="active"{% endif %}><a href="/administrative/customer">{% trans "Customers" %}</a></li>
						<li {% if env.module.get_name() == 'administrative_invoice' %}class="active"{% endif %}><a href="/administrative/invoice">{% trans "Invoices" %}</a></li>
						<li {% if env.module.get_name() == 'administrative_invoice_queue' %}class="active"{% endif %}><a href="/administrative/invoice/queue">{% trans "Invoice queue" %}</a></li>
						<li {% if env.module.get_name() == 'administrative_supplier' %}class="active"{% endif %}><a href="/administrative/supplier">{% trans "Suppliers" %}</a></li>
						<li {% if env.module.get_name() == 'export' %}class="active"{% endif %}><a href="/export">{% trans "Exports" %}</a></li>
					</ul>
				</li>
			</ul>

			<ul class="nav navbar-nav">
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans "Document Management" %} <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li class="dropdown-header">{% trans "Documents" %}</li>
						<li {% if env.module.get_name() == 'administrative_document' %}class="active"{% endif %}><a href="/administrative/document">{% trans "All Documents" %}</a></li>
						<li {% if env.module.get_name() == 'administrative_document_invoice' %}class="active"{% endif %}><a href="/administrative/document/invoice">&#8627; {% trans "Incoming Invoices" %}</a></li>
						<li {% if env.module.get_name() == 'administrative_document_creditnote' %}class="active"{% endif %}><a href="/administrative/document/creditnote">&#8627; {% trans "Incoming Creditnotes" %}</a></li>
						<li role="separator" class="divider"></li>
						<li {% if env.module.get_name() == 'administrative_incoming' %}class="active"{% endif %}><a href="/administrative/incoming">{% trans "Incoming" %}</a></li>
						<li {% if env.module.get_name() == 'administrative_tag' %}class="active"{% endif %}><a href="/administrative/tag">{% trans "Tags" %}</a></li>
					</ul>
				</li>
			</ul>

			<ul class="nav navbar-nav">
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans "Financial" %} <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li {% if env.module.get_name() == 'financial_account' %}class="active"{% endif %}><a href="/financial/account">{% trans "Bank accounts" %}</a></li>
					</ul>
				</li>
			</ul>

			<ul class="nav navbar-nav">
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans "Settings" %} <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li {% if env.module.get_name() == 'setting_configuration' %}class="active"{% endif %}><a href="/setting/configuration">{% trans "Configuration" %}</a></li>
						<li {% if env.module.get_name() == 'setting_company' %}class="active"{% endif %}><a href="/setting/company">{% trans "Company" %}</a></li>
						<li {% if env.module.get_name() == 'setting_mailscanner' %}class="active"{% endif %}><a href="/setting/mailscanner">{% trans "Mailscanner" %}</a></li>
						{% if settings.setasign_pdf_extractor %}
							<li {% if env.module.get_name() == 'setting_extractor' %}class="active"{% endif %}><a href="/setting/extractor">{% trans "PDF Extractor" %}</a></li>
						{% endif %}
						<li {% if env.module.get_name() == 'setting_api' %}class="active"{% endif %}><a href="/setting/api">{% trans "Api settings" %}</a></li>
					</ul>
				</li>
			</ul>

			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans "Logged in as" %} {{ env.session.user.username }}<b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="/login?action=logout">{% trans "Log Out" %}</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</nav>

{% endif %}
