config/Config.php
tmp/twig/*
tmp/log/*
tmp/languages/*
tmp/picture/*
store/file/*
store/documentation/*
lib/external/*
lib/component/*
composer.lock
util/tmp/*
migrations/db_version
store/email/*
!store/email/default
!store/email/default/*
store/pdf/*
!store/pdf/default
!store/pdf/default/*
