config/Config.php
tmp/twig/*
tmp/log/*
tmp/languages/*
tmp/picture/*
store/file/*
store/documentation/*
lib/external/*
composer.lock
util/tmp/*
migrations/db_version
/store/email/template/*
!/store/email/template/_default
!/store/email/template/_default/*
