config/environment.php
tmp/twig/*
tmp/log/*
tmp/languages/*
tmp/picture/*
tmp/dompdf/*
store/file/*
lib/external/*
lib/component/*
util/tmp/*
migrations/db_version
store/email/*
!store/email/default
!store/email/default/*
store/pdf/*
!store/pdf/default
!store/pdf/default/*
