# Enable following symlinks
Options +FollowSymLinks

RewriteEngine On

# If we have documentation present, serve it
RewriteCond %{DOCUMENT_ROOT}/documentation/ -d
RewriteRule ^documentation/.*$ - [L]

# Rewrite all requests to the handler.php file
RewriteCond %{REQUEST_URI} !^/handler.php
RewriteRule ^(.*)?$ /handler.php [L,NS]

# Force everything to be handled as UTF-8
AddDefaultcharset UTF-8
