<div class="row">
	<div class="col">
		<h4>{% trans "Invoices" %}</h4>
	</div>
	<div class="col">
		<div class="float-end">
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item">
						<a href="/sales/invoice">
							{% trans "Invoices" %}
						</a>
					</li>
					<li class="breadcrumb-item active">
						{% trans "Export invoices" %}
					</li>
				</ol>
			</nav>
		</div>
	</div>
</div>

<form method="post" action="/sales/invoice?action=export">
<div class="card text-bg-light">
	<div class="card-body">
		<div class="row mb-1 mb-md-3">
			<label class="col-3 col-form-label">{% trans "Export invoices" %}</label>
			<div class="col-9">
				<select name="months[]" class="form-control multiselect" multiple="multiple">
				{% for year in ("now"|date("Y")).."now"|date("Y")-2 %}
					<optgroup label="{{ year }}">
						{% for month in 1..12 %}
							{% if year < "now"|date("Y") or ( month <= "now"|date("m") and year >= "now"|date("Y") ) %}
								<option value="{{ year }}-{{ "%02d"|format(month) }}">{{ (year~'-'~month~'-01')|date("F Y") }}</option>
							{% endif %}
						{% endfor %}
					</optgroup>
				{% endfor %}
				</select>
			</div>
		</div>

		<div class="row mb-1 mb-md-3">
			<label class="col-3 col-form-label">{% trans "Export format" %}</label>
			<div class="col-9">
				<select name="export_format" class="form-control">
					<option value="Export_Expertm_Invoice">Expert/M</option>
					<option value="Export_Excel_Invoice">Excel</option>
				</select>
			</div>
		</div>

		<div class="row mb-1 mb-md-3">
			<div class="col-9 offset-3">
				<button type="submit" class="btn btn-primary">
					{% trans "Download" %}
				</button>
			</div>
		</div>
	</div>
</div>
</form>

<script type="text/javascript">
$('select').select2({
  theme: "bootstrap-5",
  closeOnSelect: false
});
</script>

