{% extends "_default/modal.base.twig" %}

{% block header %}{% trans "Add New Payment" %}{% endblock header %}

{% block body %}
	<form class="form-horizontal" action="/sales/invoice?action=edit&id={{ invoice.id }}" method="post">
		<div class="mb-3">
			<label class="form-label">{% trans "Amount" %}</label>
			<input type="text" placeholder="{% trans "Amount" %}" name="transfer[amount]" value="{{ transfer.amount }}" class="form-control">
		</div>
	</form>
{% endblock body %}

{% block footer %}
	<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans "Cancel" %}
	<button type="submit" class="btn btn-primary" onclick="$(this).closest('.modal-content').find('form').submit();">{% trans "Save" %} </button>
{% endblock footer %}
