{% extends "_default/modal.base.twig" %}

{% import '_default/form.base.twig' as form %}

{% block header %}{% trans "Manage invoice contact" %}{% endblock header %}

{% block body %}

	<div class="alert alert-danger visually-hidden">
		{% trans "Some fields were not filled in correctly" %}. {% trans "Please correct them" %}.
	</div>

	<form method="post" id="invoice-contact-form">
		<input type="hidden" name="customer_contact[customer_id]" id="customer_id" value="">

		<div class="row mb-1{% if 'alias' in errors|keys %} has-error{% endif %}">
			<label for="alias" class="col-form-label col-3 text-end">{% trans "Alias" %}</label>
			<div class="col-9">
				<input type="text" name="customer_contact[alias]" id="alias" class="form-control" value="">
			</div>
		</div>

		<div class="row mb-1{% if 'company' in errors|keys %} has-error{% endif %}">
			<label for="company" class="col-form-label col-3 text-end">{% trans "Company" %}</label>
			<div class="col-9">
				<input type="text" name="customer_contact[company]" id="company" class="form-control" value="">
			</div>
		</div>

		<div class="row mb-1{% if 'firstname' in errors|keys %} has-error{% endif %}">
			<label for="firstname" class="col-form-label col-3 text-end">{% trans "Firstname" %}</label>
			<div class="col-9">
				<input type="text" name="customer_contact[firstname]" id="firstname" class="form-control" value="">
			</div>
		</div>

		<div class="row mb-1{% if 'lastname' in errors|keys %} has-error{% endif %}">
			<label for="lastname" class="col-form-label col-3 text-end">{% trans "Lastname" %}</label>
			<div class="col-9">
				<input type="text" name="customer_contact[lastname]" id="lastname" class="form-control" value="">
			</div>
		</div>

		<div class="row mb-1{% if 'street' in errors|keys %} has-error{% endif %}">
			<label for="street" class="col-form-label col-3 text-end">{% trans "Street" %}</label>
			<div class="col-9">
				<input type="text" name="customer_contact[street]" id="street" class="form-control" value="">
			</div>
		</div>

		<div class="row mb-1{% if 'housenumber' in errors|keys %} has-error{% endif %}">
			<label for="housenumber" class="col-form-label col-3 text-end">{% trans "Housenumber" %}</label>
			<div class="col-9">
				<input type="text" name="customer_contact[housenumber]" id="housenumber" class="form-control" value="">
			</div>
		</div>

		<div class="row mb-1{% if 'city' in errors|keys %} has-error{% endif %}">
			<label for="city" class="col-form-label col-3 text-end">{% trans "City" %}</label>
			<div class="col-9">
				<input type="text" name="customer_contact[city]" id="city" class="form-control" value="">
			</div>
		</div>

		<div class="row mb-1{% if 'zipcode' in errors|keys %} has-error{% endif %}">
			<label for="zipcode" class="col-form-label col-3 text-end">{% trans "Zip code" %}</label>
			<div class="col-9">
				<input type="text" name="customer_contact[zipcode]" id="zipcode" class="form-control" value="">
			</div>

		</div>

		<div class="row mb-1{% if 'country_id' in errors|keys %} has-error{% endif %}">
			<label for="country_id" class="col-form-label col-3 text-end">{% trans "Country" %}</label>
			<div class="col-9">
				<select id="country_id" name="customer_contact[country_id]" class="form-control"></select>
			</div>
		</div>

		<div class="row mb-1{% if 'email' in errors|keys %} has-error{% endif %}">
			<label for="email" class="col-form-label col-3 text-end">{% trans "Email" %}</label>
			<div class="col-9">
				<input type="text" name="customer_contact[email]" id="email" class="form-control" value="">
			</div>
		</div>

		<div class="row mb-1{% if 'phone' in errors|keys %} has-error{% endif %}">
			<label for="phone" class="col-form-label col-3 text-end">{% trans "Phone" %}</label>
			<div class="col-9">
				<input type="text" name="customer_contact[phone]" id="phone" class="form-control" value="">
			</div>
		</div>

		<div class="row mb-1{% if 'mobile' in errors|keys %} has-error{% endif %}">
			<label for="mobile" class="col-form-label col-3 text-end">{% trans "Mobile" %}</label>
			<div class="col-9">
				<input type="text" name="customer_contact[mobile]" id="mobile" class="form-control" value="">
			</div>
		</div>

		<div class="row mb-1{% if 'fax' in errors|keys %} has-error{% endif %}">
			<label for="fax" class="col-form-label col-3 text-end">{% trans "Fax" %}</label>
			<div class="col-9">
				<input type="text" name="customer_contact[fax]" id="fax" class="form-control" value="">
			</div>
		</div>

		<div class="row mb-1{% if 'vat' in errors|keys %} has-error{% endif %}">
			<label for="vat" class="col-form-label col-3 text-end">{% trans "Vat" %}</label>
			<div class="col-9">
				<input type="text" name="customer_contact[vat]" id="vat" class="form-control" value="">
			</div>
		</div>

		<div class="row mb-1{% if 'reference' in errors|keys %} has-error{% endif %}">
			<label for="reference" class="col-form-label col-3 text-end">{% trans "Reference" %}</label>
			<div class="col-9">
				<input type="text" name="customer_contact[reference]" id="reference" class="form-control" value="">
			</div>
		</div>

		<div class="row mb-1">
			<label for="language_id" class="col-form-label col-3 text-end">{% trans "Language" %}</label>
			<div class="col-9">
				{{ form.select_language(languages, 'customer_contact[language_id]', 'language_id', 0) }}
			</div>
		</div>

		{% if settings.enable_click_post %}
			<div class="row mb-1">
				<label class="col-3 col-form-label text-end">{% trans "Invoice method" %}</label>
				<div class="col-9">
					<select name="customer_contact[invoice_method_id]" class="form-control" id="invoice_method_id">
						<option value="1">{% trans "Mail" %}</option>
						<option value="2">{% trans "Click & Post" %}</option>
					</select>
				</div>
			</div>
		{% endif %}

		<div class="row mb-1">
			<label class="col-3 col-form-label text-end">{% trans "VAT Bound" %}</label>
			<div class="col-9">
				<select name="customer_contact[vat_bound]" class="form-control" id="vat_bound">
					<option value="-1">{% trans "Automatic" %}</option>
					<option value="0">{% trans "No" %}</option>
					<option value="1">{% trans "Yes" %}</option>
				</select>
			</div>
		</div>
	</form>

	<script type="text/javascript">
		var country_ajax = $.ajax({
			url: '/administrative/customer/contact?action=load_countries',
			type: 'GET',
			dataType: 'json',
			success: function(data) {
				$.each(data, function(key, value) {
					var optgroup = $('<optgroup />');
					optgroup.attr('label', key);

					$.each(value, function(key, country) {
						var option = $('<option></option>');
						option.val(country.id);
						option.text(country.text_{{ env.language.name_short }}_name);
						optgroup.append(option);
					});
					optgroup.appendTo($('#country_id'));
				})
			}
		});

		var language_ajax = $.ajax({
			url: '/administrative/customer/contact?action=load_languages',
			type: 'GET',
			dataType: 'json',
			success: function(data) {
				$('#language_id option').remove();
				$.each(data, function(key, language) {
					var option = $('<option></option>');
					option.val(language.id);
					option.text(language.name);
					option.appendTo($('#language_id'));
				});
			}
		});


		$('#invoice-contact-form').on('submit', function() {
			return validate_customer_contact();
		});

		$('#invoice-contact-form input').keydown(function(e) {
			var key = e.which;
			if (key == 13) {
				$('#invoice-contact-form').submit();
			}
		});



		$('#manage-customer-contact').on('show.bs.modal', function (e) {
			$.when(country_ajax, language_ajax).done(function(xhrObject1, xhrObject2) {
				$('#invoice-contact-form input, select').val('');
				$('#invoice-contact-form select').each(function() {
					$(this).val($(this).find('option:first').val());
				});
				$('.form-group').removeClass('has-error');
				current_customer_contact_id = 0;

				var $invoker = $(e.relatedTarget);

				if($invoker.data('customer-contacts') == 0) {
					load_customer_data($invoker.data('customer-id'));
				} else if($invoker.data('customer-contact-id')) {
					load_customer_contact_data($invoker.data('customer-contact-id'));
				}

				$('#invoice-contact-form #customer_id').val($invoker.data('customer-id'));
			});
		});




		function load_countries() {
			$.get('/administrative/customer/contact?action=load_countries', function(data) {
				$.each(data, function(key, value) {
					var optgroup = $('<optgroup />');
					optgroup.attr('label', key);

					$.each(value, function(key, country) {
						var option = $('<option></option>');
						option.val(country.id);
						option.text(country.text_{{ env.language.name_short }}_name);
						optgroup.append(option);
					});
					optgroup.appendTo($('#country_id'));
				});
			}, 'json');
		}

		function load_languages() {
			$.get('/administrative/customer/contact?action=load_languages', function(data) {
				$('#language_id option').remove();
				$.each(data, function(key, language) {
					var option = $('<option></option>');
					option.val(language.id);
					option.text(language.name);
					option.appendTo($('#language_id'));
				});
			}, 'json');
		}

		function load_customer_data(id) {
			$.get('/administrative/customer?action=load_customer&id=' + id, function(data) {
				$.each(data, function(key, value) {
					if ($('#invoice-contact-form #' + key).length == 1) {
						$('#invoice-contact-form #' + key).val(value);
					}
				});

			}, 'json');
		}

		function load_customer_contact_data(id) {
			$.get('/administrative/customer/contact?action=load_customer_contact&id=' + id, function(data) {
				$.each(data, function(key, value) {
					if($('#invoice-contact-form #' + key).length == 1) {
						$('#invoice-contact-form #' + key).val(value);
					}
				});

				current_customer_contact_id = id;
			}, 'json');
		}

		function validate_customer_contact() {
			data = $('#invoice-contact-form').serialize();

			$('.form-group').removeClass('has-error');

			$.post('/administrative/customer/contact?action=manage&id=' + current_customer_contact_id, data, function(data) {
				if ("id" in data) {
					window.location = '{{ redirect|raw }}';
				} else {
					$('.alert').removeClass('visually-hidden');
					$.each(data, function(key, value) {
						$('#invoice-contact-form #' + key).addClass('is-invalid');					
						$('#invoice-contact-form #' + key).parents('.form-group').addClass('has-error');
					});
				}
				return false;
			}, 'json');

			return false;
		}

	</script>

{% endblock body %}

{% block footer %}
	<button type="submit" class="btn btn-primary" onclick="$(this).parents('.modal-content').find('form').submit();">{% trans "Save" %}</button>
	<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans "Cancel" %}</button>
{% endblock footer %}
