{% extends "_default/layout.base.twig" %}

{% block head %}
	<script type="text/javascript" src="/highcharts/highstock.js"></script>
{% endblock head %}

{% block content %}
	<ol class="breadcrumb">
		<li><a href="/">{% trans "Home" %}</a></li>
		<li><a href="/financial/account">{% trans "Bank accounts" %}</a></li>
		<li>{% trans "Edit Bank Account" %}</li>
	</ol>

	{% include "financial/account/tabs.twig" %}

	<div id="container" style="height: 400px; min-width: 310px"></div>

	<script type="text/javascript">
		let chart_extremes = [null, null];

		$(document).ready(function () {
			$.getJSON('/json/bank/account?id={{ bank_account.id }}', function (data) {
				window.chart = new Highcharts.StockChart({
					chart: {
						renderTo: 'container'
					},
					navigator: {
						adaptToUpdatedData: false,
						series: {
							data: data
						}
					},
					xAxis: {
						type: 'datetime',
						//minRange: 1,
						ordinal: false,
						minRange: 1 * 30 * 24 * 3600 * 1000, // 1 month
						events: {
							afterSetExtremes: after_set_extremes
						}
					},
					yAxis: {
						labels: {
							formatter: function () {
								return '€' + this.axis.defaultLabelFormatter.call(this);
							}
						}
					},
					rangeSelector: {
						selected: 1
					},
					series: [{
						name: "{% trans "Balance" %}",
						data: data,
						events: {
							click: function (e) {
								console.log(
									e.point.id
								)
							}
						}

					}]
				});
			});
		});

		function after_set_extremes(e) {
			let start = moment.utc(e.min).local().format("YYYY-MM-DD");
			let end = moment.utc(e.max).local().format("YYYY-MM-DD");

			// Get fresh data
			$.getJSON('/json/bank/account?action=interval&id={{ bank_account.id }}&start=' + start + '&end=' + end, function (data) {
				chart.series[0].setData(data);
			});

			// draw max distance of 2 years
			var maxDistance = 2 * 365 * 24 * 3600 * 1000;
			var xaxis = this;
			if ((e.max - e.min) > maxDistance) {
				var extreme_min = e.max - maxDistance;
				var extreme_max = e.max;
				window.setTimeout(function() {
					xaxis.setExtremes(extreme_min, extreme_max);
				}, 1);
			}
		}

	</script>

{% endblock content %}
