{% extends "_default/modal.base.twig" %}

{% import '_default/macro.base.twig' as base %}

{% block header %}{% trans "Select invoice contact" %}{% endblock header %}

{% block body %}

<form action="/sales/invoice/queue/recurring?action=edit&id={{ invoice_queue_recurring_group.id }}" method="post">
<div class="row">
	{% for customer_contact in invoice_queue_recurring_group.customer.get_active_customer_contacts %}
		<div class="col-4 mb-3 h-100">
			<div class="card customer_contact {% if invoice_queue_recurring_group.customer_contact_id == customer_contact.id %}border-primary{% endif %}" data-customer-contact-id="{{ customer_contact.id }}">
				<div class="card-body">
					{{ base.customer_contact(customer_contact, settings) }}
				</div>
			</div>
		</div>
	{% endfor %}
	<input type="hidden" name="invoice_queue_recurring_group[customer_contact_id]" value="{{ invoice_queue_recurring_group.customer_contact_id }}" id="customer_contact_id" />
</div>
</form>

<script type="text/javascript">
	$('.customer_contact').on({
		click: function() {
			$('.customer_contact').removeClass('border-primary');
			$('#customer_contact_id').val($(this).data('customer-contact-id'));
			$(this).addClass('border-primary');
		}
	});
</script>

{% endblock body %}

{% block footer %}
	<button type="submit" class="btn btn-primary" onclick="$(this).closest('.modal-content').find('form').submit();">{% trans "Save" %} </button>
	<button type="button" class="btn btn-light" data-bs-dismiss="modal">{% trans "Cancel" %}
{% endblock footer %}
