html {
  height: -webkit-fill-available;
}

body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
  overflow-y: scroll;
  font-size: 0.90em;
  font-weight: 400;
}

main.col {
  display: flex;
  flex-wrap: nowrap;
  min-height: 100vh;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 30px;
  background-color: #f5f7fb;
}

main.col > .container-fluid {
	background-color: #fff;
	padding: 30px;
}

a {
	text-decoration: none;
}
a:not(.btn):hover {
/*	text-decoration: underline;*/
}

/**
 * Sidebar
 */
#sidebar {
  min-height: 100vh;
}

#sidebar ul li a {
	color: rgba(233,236,239,.5);
	padding-top: 0.3rem;
	padding-bottom: 0.3rem;
	font-size: 1.1em;
	line-height: 1.6em;
}

#sidebar ul li a:hover {
    color: #fff;
}

#sidebar ul li a.active {
	background: rgba(59,125,221,.6);
	background-color: #6ec7f0;
    color: #fff;
}

#sidebar ul li ul a {
	color: #666;
	padding-left: 30px;
}

#sidebar ul li ul li a:before {
	content: "→";
	padding-right: 5px;
}

#sidebar .nav-pills .nav-link {
	border-radius: 0;
}

/**
 * Feather icons
 */
.feather {
	width: 16px;
	height: 16px;
	stroke: currentColor;
	stroke-width: 2;
	stroke-linecap: round;
	stroke-linejoin: round;
	fill: none;
	padding-bottom: 3px;
}

/**
 * Select2
 */
.select2-container{
	width: 100%!important;
}
.select2-search--dropdown .select2-search__field {
	width: 98%;
}


/**
 * Customer contact card
 */
.card-body > .badge {
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 12px 15px;
    padding-right: 10px;
    border-radius: 0 0 0 26px;
    font-size: 14px;
}

.customer_contact.card {
	cursor: pointer;
}
