#wrap > .container-fluid {
	padding-top: 60px;
}

.pull-up-h3 {
	margin-top: -45px;
}

/*
.sidebar-nav {
	padding: 9px 0;
}
*/

/**
 * Sticky footer styles
 */
html, body {
	height: 100%;
	/* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	/* Negative indent footer by it's height */
	margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#push, footer {
	height: 60px;
}

footer {
	background-color: #f5f5f5;
}

.container .credit {
	margin: 20px 0;
}

.form-condensed .control-group {
    margin-top: 0;
    margin-bottom: 5px;
}
