body {
	font-size: 12px;
}
.dropdown-menu {
	font-size: 13px
}

#login {
	background-color: #ddd;
	color: #fff
}

	#login-wrapper {
		max-width: 460px;
		margin: 0 auto;
		margin-top: 40px
	}

	#login-content {
		color: #222;
		padding: 42px 48px;
		background: #fff;
		border-radius: 3px;
		margin-top: 15px
	}

.form-condensed .form-group {
    margin-top: 0;
    margin-bottom: 5px;
}

.panel-body .actions {
	position: absolute;
	right: 25px;
	top: 10px
}

.customer_contact .panel-body {
	min-height: 190px;
}

.customer_contact address {
	margin-left: 30px;
}

/**
 * Pagination
 */

.pagination .jump-to-page {
    padding: 4px;
}

	.pagination .jump-to-page input {
	    border: solid 1px #eee;
	    text-align: center;
	}

/**
 * Dropzone
 */
.dropzone, .dropzone-wrapper {
	position: relative;
	background: #fcfcfc;
	border: dashed 1px #ddd;
	padding: 20px;
	cursor: pointer
}

	.dropzone .dz-message, .dropzone-wrapper .dz-message {
		width: 190px;
		opacity: .5;
		margin: 0 auto;
		text-align: center
	}

		.dropzone .dz-message span, .dropzone-wrapper .dz-message span {
			display: block;
		}

		.dropzone .progress, .dropzone-wrapper .progress {
			position: absolute;
			left: 20px;
			bottom: 0;
			height: 15px;
			display: none;
			width: 180px;
			left: 50%;
			margin-left: -90px
		}

.dz-preview {
	display: none
}

/**
 * Forms
 */
.form-inline .form-group {
	margin-left: 0;
 	margin-right: 0
}

.help-block {
	font-size: 90%;
	font-style: italic
}

 /**
  * Tabs
  */
.tab-content {
	padding: 30px;
    border: solid 1px #ddd;
    border-top: 0;
}

/**
 * Document/edit
 */
#added_tags .label {
	font-size: 1em;
}


.drag-handle {
	cursor: pointer;
}


/**
 * Extractor code editor
 */
.CodeMirror {
	height: 400px;
	border: 1px solid #ccc;
}



.select-areas-overlay {
	background-color: #000;
	overflow: hidden;
	position: absolute;
}
.blurred {
	filter: url("/filters.svg#blur3px");
	-webkit-filter: blur(3px);
	-moz-filter: blur(3px);
	-o-filter: blur(3px);
	filter: blur(3px);
}

.select-areas-outline {
	background: #fff url('outline.gif');
	overflow: hidden;
}

.select-areas-resize-handler {
	background-color: #000;
	border: 1px #fff solid;
	height: 8px;
	width: 8px;
	overflow: hidden;
}

.select-areas-delete-area {
	background: url('bt-delete.png');
	cursor: pointer;
	height: 16px;
	width: 16px;
}
.delete-area {
	position: absolute;
	cursor: pointer;
	padding: 5px;
}


/**
 * Batch match
 */
.match {
	height: 250px;
	cursor: pointer;
}

/**
 * Panels
 */
.panel-link {
	cursor: pointer;
}


.table>tbody>tr>td.grand-total {
	vertical-align: middle;
	text-align: right;
	font-size: 1.3em;
	font-weight: bold;
	padding-top: 5px;
}
