html {
  height: -webkit-fill-available;
  font-size: 0.83em;
}

body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
  overflow-y: scroll;
  font-weight: 400;
}

main.col {
  display: flex;
  flex-wrap: nowrap;
  min-height: 100vh;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 30px;
  background-color: #f5f7fb;
}

main.col > .container-fluid {
	background-color: #fff;
	padding: 30px;
}

a {
	text-decoration: none;
}

a:not(.btn):hover {
/*	text-decoration: underline;*/
}

/**
 * Sidebar
 */
.pointer {cursor: pointer;}

.navbar {
	border-bottom: 0;
	box-shadow: 0 0 2rem 0 rgba(33,37,41,.1);
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: .875rem 1.375rem;
	position: relative;
}

.navbar-expand {
	flex-wrap: nowrap;
	justify-content: flex-start;
}

#sidebar {
  min-height: 100vh;
  position: fixed;
  z-index: 2000;
}

#sidebar ul li a {
    color: #fff;
	padding-top: 0.3rem;
	padding-bottom: 0.3rem;
	font-size: 1.1em;
	line-height: 1.6em;
}

#sidebar ul li a:hover {
    color: rgb(207, 199, 199);
}

#sidebar ul li a.active {
	background: rgba(59,125,221,.6);
	background-color: #6ec7f0;
	background-color: #0d6efd;
    color: #fff;
}

#sidebar ul li ul a {
    color: #fff;
	padding-left: 30px;
}

#sidebar ul li ul li a:before {
	content: "→";
	padding-right: 5px;
}

/* #sidebar .nav-pills .nav-link {
	border-radius: 0;
} */

/**
 * Feather icons
 */
.feather {
	width: 16px;
	height: 16px;
	stroke: currentColor;
	stroke-width: 2;
	stroke-linecap: round;
	stroke-linejoin: round;
	fill: none;
	padding-bottom: 3px;
}

/**
 * Select2

.select2-container{
	width: 100%!important;
}
.select2-search--dropdown .select2-search__field {
	width: 98%;
}
 */

/**
 * Customer contact card
 */
.card-body > .badge {
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 12px 15px;
    padding-right: 10px;
    border-radius: 0 0 0 26px;
    font-size: 14px;
}

.customer_contact.card {
	cursor: pointer;
}

/*
.alert-message {
	padding: 0.96rem;
}
.alert {
	display: flex;
	padding: 0;
} */

.card-link {
	cursor: pointer;
}

