.typeahead,
.tt-query,
.tt-hint {
  width: 396px;
}

.typeahead {
  background-color: #fff;
}


.tt-hint {
  color: #999
}

.tt-dropdown-menu {
  width: 396px;
  background-color: #fff;
  border: 1px solid #ccc;
}

.tt-suggestion {
  padding: 3px 20px;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;
  cursor: pointer
}

.tt-suggestion p {
  margin: 0;
}

.gist {
  font-size: 14px;
}