{% extends "_default/layout.base.twig" %}

{% block content %}

<div class="alert alert-danger">
	<strong>{% trans "Forbidden" %}</strong>
	<p>{% trans "You are not allowed to view this page" %}</p>
</div>


{% endblock content %}
