{% extends "_default/layout.base.twig" %}

{% import '_default/macro.base.twig' as base %}

{% block content %}

	<div class="row">
		<div class="col">
			<h4>{% trans "API settings" %}</h4>
		</div>
	</div>

	<form action="/setting/api" method="post">
		<div class="card">
			<div class="card-header">{% trans "Company settings" %}</div>
			<div class="card-body">
				{% if env.sticky_session.message is defined %}
					{{ base.alert('success', 'Settings successfully updated'|trans) }}
				{% endif %}

				<div class="row mb-1 mb-md-3">
					<label class="col-form-label col-3 text-end">{% trans "API keys" %} ({% trans "1 key per line" %})</label>
					<div class="col-9">
						<textarea class="form-control autogrow" name="setting[api_keys]">{{ settings.api_keys }}</textarea>
					</div>
				</div>

				<div class="row mb-1 mb-md-3">
					<label class="col-form-label col-3 text-end">{% trans "Make all documents available via API" %}</label>
					<div class="col-9">
						<div class="form-check form-switch form-control-plaintext">
						<input type="checkbox" name="setting[api_public_documents]" {% if settings.api_public_documents %}checked{% endif %} id="chk_api_public_documents" data-group-cls="btn-group-xs" class="form-check-input">
						</div>
					</div>
				</div>

				<div class="row mb-1 mb-md-3" id="api_document_tag_ids">
					<label class="col-form-label col-3 text-end">{% trans "Only expose documents with tag" %}</label>
					<div class="col-9">
						<input type="text" class="form-control" name="setting[api_document_tag_ids]" id="autocomplete-tag" />
					</div>
				</div>

				<div class="row mb-1 mb-md-3">
					<div class="col-9 offset-3">
						<button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
					</div>
				</div>
			</div>
		</div>
	</form>

	<script type="text/javascript">
		$('#chk_api_public_documents').on('change', function() {
			if ( $(this).prop('checked') ) {
				$('#api_document_tag_ids').hide();
			} else {
				$('#api_document_tag_ids').show();
			}
		});
		{% if settings.api_public_documents %}
			$('#api_document_tag_ids').hide();
		{% endif %}
	</script>

	<script type="text/javascript" src="/bootstrap-tokenfield.min.js"></script>
	<script type="text/javascript" src="/bloodhound.min.js"></script>
	<script type="text/javascript" src="/typeahead.min.js"></script>
	<script type="text/javascript">

		var tags = new Bloodhound({
			datumTokenizer: Bloodhound.tokenizers.obj.whitespace('value'),
			queryTokenizer: Bloodhound.tokenizers.whitespace,
			remote: '/administrative/tag?action=ajax_search&search=%QUERY'
		});

		tags.initialize();

		$('#autocomplete-tag').tokenfield({
			typeahead: [null, { source: tags.ttAdapter(), displayKey: 'label' }]
		});

		$('#autocomplete-tag').tokenfield('setTokens', [{% for selected_tag in selected_tags %}{ value: "{{ selected_tag.id }}", label: "{{ selected_tag.name }}" }{% if not loop.last %},{% endif %}{% endfor %}]);

		$('#autocomplete-tag').on('tokenfield:createtoken', function(e) {
			if (e.attrs['value'] == e.attrs['label']) {
				return false;
			}
		});

	</script>

{% endblock content %}

{% block head %}
	<link rel="stylesheet" type="text/css" href="/typeahead.css">
	<link rel="stylesheet" type="text/css" href="/bootstrap-tokenfield.min.css">
{% endblock %}
