{% extends "_default/layout.base.twig" %}

{% block content %}

	<ol class="breadcrumb">
		<li><a href="/">{% trans "Home" %}</a></li>
		<li>{% trans "Settings" %}</li>
		<li class="active">{% trans "Configuration" %}</li>
	</ol>

	{% if env.sticky_session.message is defined %}
		{{ base.display_flash_message(env.sticky_session.message, 'configuration') }}
	{% endif %}

	<div class="panel panel-default">
		<div class="panel-heading">{% trans "Configuration" %}</div>
		<div class="panel-body">
			<form action="/setting/configuration" method="post" class="form-condensed form-horizontal">
				<div class="form-group">
					<label class="col-xs-3 control-label">{% trans "Archive mailbox" %}</label>
					<div class="col-xs-9">
						<input type="text" name="setting[archive_mailbox]" class="form-control" value="{{ settings.archive_mailbox }}">
					</div>
				</div>

				<div class="form-group">
					<div class="col-xs-9 col-xs-offset-3">
						<button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
					</div>
				</div>
			</form>
		</div>
	</div>

{% endblock content %}
