{% extends "_default/layout.base.twig" %}

{% block content %}

	<ol class="breadcrumb">
		<li><a href="/">{% trans "Home" %}</a></li>
		<li>{% trans "Settings" %}</li>
		<li class="active">{% trans "Configuration" %}</li>
	</ol>

	{% if env.session_sticky.message is defined %}
		{{ base.display_flash_message(env.session_sticky.message, 'configuration') }}
	{% endif %}

	<div class="panel panel-default">
		<div class="panel-heading">{% trans "Configuration" %}</div>
		<div class="panel-body">
			<form action="/setting/configuration" method="post" class="form-condensed">
				<div class="form-group">
					<label>{% trans "Archive mailbox" %}</label>
					<input type="text" class="form-control" name="setting[archive_mailbox]" value="{{ settings.archive_mailbox }}">
				</div>

				<div class="form-group">
					<button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
				</div>
			</form>
		</div>
	</div>

{% endblock content %}
