{% extends "bookkeeping/account/index.twig" %}

{% import '_default/macro.base.twig' as base %}

{% block tab %}

	{% if errors is defined %}
		<div class="alert alert-danger">
			{% trans "The form contains mistakes. Please correct them." %}
		</div>
	{% elseif env.sticky_session.message is defined %}
		{{ base.display_flash_message(env.sticky_session.message, 'bookkeeping account') }}
	{% endif %}


	<form method="post" action="/bookkeeping/account/detail?id={{ bookkeeping_account.id }}">
		<div class="row mb-3 {% if 'number' in errors|keys %} has-error{% endif %}">
			<label class="col-form-label col-3 text-end">{% trans "Number" %}</label>
			<div class="col-5"><input type="text" name="bookkeeping_account[number]" class="form-control" value="{{ bookkeeping_account.number }}"/></div>
		</div>

		<div class="row mb-3">
			<label class="col-form-label col-3 text-end">{% trans "Name" %}</label>
			<div class="col-5"><input type="text" name="bookkeeping_account[name]" class="form-control" value="{{ bookkeeping_account.name }}"/></div>
		</div>

		<div class="row mb-3">
			<div class="col-3 offset-3">
				<button class="btn btn-primary">
					{% trans "Save" %}
				</button>
			</div>
		</div>
	</form>

{% endblock tab %}
