<div class="row">
	<div class="col">
		<h4>{% trans "Invoice Queue" %}</h4>
	</div>
	<div class="col">
		<div class="float-end">
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item">
						<a href="/sales/invoice/queue">
							{% trans "Invoice queue" %}
						</a>
					</li>
					<li class="breadcrumb-item active">
						{% trans "Create invoice queue item" %}
					</li>
				</ol>
			</nav>
		</div>
	</div>
</div>

{% if errors is defined %}
<div class="alert alert-danger">
	{% trans "Please select a customer." %}
</div>
{% endif %}

<div class="card">
	<div class="card-header">
		{% trans "Select customer" %}
	</div>
	<div class="card-body">
		<form method="post" action="/sales/invoice/queue?action=create_step1" class="form-horizontal" id="invoice-create-step1">
			<div class="row mb-1 mb-md-3">
				<label class="col-2 col-form-label text-end">{% trans "Customer" %}</label>
				<div class="col-9">
					<select name="customer_id" class="form-select autocomplete_customer"></select>
				</div>
			</div>

			<div class="row mb-1 mb-md-3">
				<div class="col-2 offset-2">
					<button class="btn btn-primary">
						{% trans "Next" %}
					</button>
				</div>
			</div>
		</form>
	</div>
</div>

<script type="text/javascript">
$('.autocomplete_customer').select2({
	theme: "bootstrap-5",
	closeOnSelect: true,
	minimumResultsForSearch: 0,
	ajax: {
		url: '/administrative/customer?action=ajax_search',
		dataType: 'json',
    // Additional AJAX parameters go here; see the end of this chapter for the full code of this example
	},
});
</script>
