{% extends "_default/modal.base.twig" %}

{% block header %}{% trans "Select supplier" %}{% endblock header %}

{% block body %}

	<form class="form-horizontal form-condensed" method="post" action="?action=edit_supplier&id={{ document.id }}" id="form-supplier-select-modal">
		<div class="row mb-3">
			<label for="supplier_id" class="col-form-label col-3 text-end">{% trans "Supplier" %}</label>
			<div class="col-9">
				<input type="text" name="supplier" class="form-control typeahead autocomplete_supplier" placeholder="{% trans "Search supplier" %}..."/>
				<input type="hidden" class="supplier_id" name="document[supplier_id]" value=""/>
			</div>
		</div>
	</form>


{% endblock body %}

{% block footer %}
	<button type="submit" class="btn btn-primary" form="form-supplier-select-modal" id="btn_submit_supplier">{% trans "Save" %}</button>
	<button type="button" class="btn btn-default" data-dismiss="modal" id="autocomplete_supplier_btn">{% trans "Cancel" %}</button>
{% endblock footer %}
